@charset "UTF-8";
/* CSS Document */
a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #f1f1f1;
  color: black;
}
	
.home {
 background-color: #777;
 color: white;
}	

.round {
  border-radius: 50%;
}

.center {
	margin-left: auto;
	margin-right: auto;
}
img{max-width: 100%;
	height: auto;}
h1 {text-align: center;}
p {font-family: Arial, Helvetica, sans-serif;}
td {font-family: Arial, Helvetica, sans-serif;}
li {font-family: Arial, Helvetica, sans-serif;}
blockquote {font-family: Arial, Helvetica, sans-serif;}