@charset "UTF-8";
/* CSS Document */
a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.toc {
  background-color: #f1f1f1;
  color: black;
}

.review {
  background-color: #f1f1f1;
  color: black;
}
	
.home {
 background-color: #777;
 color: black;
}	

.round {
  border-radius: 50%;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tab { margin-left: 40px; }

div {text-align: center;}
img{max-width: 100%;
	height: auto;}
h1 {text-align: center;}
p {font-family: Arial, Helvetica, sans-serif;}
td {font-family: Arial, Helvetica, sans-serif;}
li {font-family: Arial, Helvetica, sans-serif;}
blockquote {font-family: Arial, Helvetica, sans-serif;}